/* Roboto FONT  */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(/assets/fonts/Roboto-Regular.woff2) format('woff2');
}

/* VARIABLES */

:root {
  --accentcolor: #e27d2f;
  --textcolor: #595959;
  --navbarcolor: whitesmoke;
}

/* BODY */

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

p, a {
  color: var(--textcolor);
}

a, a:focus, a:active, a:link {
  text-decoration: none;
  color: var(--accentcolor);
}

a:hover {
  text-decoration: underline;
  color: var(--accentcolor);
}

* {
  font-family: 'Roboto', sans-serif;
}

label {
  color: var(--textcolor);
}

h1, h2, h3 {
  color: var(--accentcolor);
}

/* NAVBAR */

nav {
  position: fixed;
  top: 0;
  background: var(--navbarcolor);
  width: 100%;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav * {
  float: left;
}

nav .nav-item, nav .dropdown-content a {
  color: black;
  text-decoration: none;
  font-size: 18px;
  padding: 14px;
  display: inline-block;
}

nav .right {
  float: right;
}

nav .nav-item.active, nav .nav-item:hover, .dropdown-content a:hover {
  background: var(--accentcolor);
  color: white;
}

nav .navbar-left {
  width: 150px;
  height: 1px;
}

nav .navbar-right {
  width: 150px;
  height: 1px;
  float: right;
}

nav .nav-logo {
  height: 50px;
}

.navbar-top {
  height: 60px;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown-content {
  display: none;
  position: absolute;
  background: var(--navbarcolor);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-top: 52px;
  min-width: 160px;
}

.dropdown-link {
  min-width: 160px;
  text-align: center;
}

.dropdown:hover .dropdown-content {
  display: block;
  position: fixed;
  min-width: 160px;
}

.dropdown-content a {
  display: block !important;
  float: none;
  text-decoration: none;
  text-align: left;
  min-width: 160px;
}

/* FOOTER */

.footer {
  background-color: var(--accentcolor);
  margin-top: 30px;
  width: 100%;
  bottom: 0;
  position: relative;
}

.footer-dark {
  background-color: rgba(0, 0, 0, 0.15)
}

.footer p, .footer a {
  color: white;
}

.footer ul {
  list-style: none;
}

.footer img {
  width: 80%;
  padding: 5%;
}

.footer .copyright {
  text-align: center;
}

.footer a, .footer a:focus, .footer a:link, .footer a:active {
  color: white;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

#footer-above {
  width: 100%;
}

/* HOME PAGE */

.home-subtitle {
  color: var(--accentcolor);
  width: 100%;
  text-align: center;
}

/* PAGE HEAD */

.page-head h2 {
  color: var(--accentcolor);
}

/* HR */

hr {
  height: 0;
  border: 0;
  border-top: 1px solid var(--accentcolor);
  margin-top: 21px;
}

/* CARDS */

.card-row {
  display: flex;
  flex-flow: wrap
}

.card {
  width: 94%;
  margin-left: 3%;
  border: 1px solid transparent;
  border-radius: 4px;
  float: left;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card.block {
  width: 100%;
  margin: 0;
}

.card-row .card {
  width: 30%;
  margin: 1.584934%;
  cursor: pointer;
}

.card.full-width {
  width: 100%;
  margin: 1% 0;
}

.card-row .card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 16px 50px 0 rgba(0, 0, 0, 0.19);
}

.card-row .card-image {
  text-align: center;
}

.card-row .card-image > span {
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.card-row .card-image img {
  vertical-align: middle;
  max-width: 90%;
  max-height: 170px;
  margin-top: 8px;
}

.card-content {
  padding: 12px
}

.card-content .old-price {
  text-decoration: line-through;
  color: var(--textcolor);
  font-size: 13px;
}

.card-content .advies-price {
  color: var(--textcolor);
  font-size: 13px;
}

.card-content .spec-name {
  color: var(--textcolor);
  font-size: 15px;
}

.card-content .current-price {
  font-size: 22px;
  color: var(--accentcolor);
  font-weight: 600;
}

.card-content .current-price-big {
  font-size: 28px;
  color: var(--accentcolor);
  font-weight: 600;
}

.small-text {
  font-size: 15px;
  color: var(--textcolor);
}

.card-content img.bike {
  width: 90%;
  padding: 5%;
}

/* ORDER NFO */

.order-table .order-image {
  text-align: center;
}

.order-table .order-image > span {
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.order-table .order-image img {
  vertical-align: middle;
  max-width: 90%;
  max-height: 170px;
  margin-top: 8px;
}

.order-content {
  padding: 12px
}

/* IMAGES */

.img-homepage {
  width: 100%;
  margin-top: 20px;
}

.brand-logo {
  width: 80%;
}

img.order-bike {
  width: 90%;
  padding: 5%;
}

/* FORM */

.form-group {
  display: grid;
}

.form-group {
  padding-bottom: 4px;
  padding-top: 4px;
}

.form-group textarea {
  resize: none;
}

.form-group input[type=text], .form-group input[type=email], .form-group input[type=password], .form-group input[type=number], .form-group textarea {
  padding: 6px 12px;
  border: 1.5px solid var(--accentcolor);
  border-radius: 4px;
  outline: 0;
  margin-top: 4px;
}

form input[type=submit] {
  padding: 10px 20px;
  background-color: var(--accentcolor);
  outline: none;
  border: 1px solid var(--accentcolor);
  cursor: pointer;
  color: white;
  font-size: 16px;
  border-radius: 4px;
}

.form-group > label, .form-group > input, .form-group > textarea {
  font-size: 16px;
}

form input.block {
  width: 100%;
}

.form-below {
  width: 100%;
  color: var(--accentcolor);
  text-align: center; 
}

/* ROWS & COLUMNS */

.row {
  display: flex;
}

.row.margin-top {
  margin-top: 28px;
}

.col {
  float: left;
}

.col-right {
  float: right !important;
}

.col0-5 {
  width: 5%;
}

.col1 {
  width: 10%;
}

.col1-5 {
  width: 15%;
}

.col2 {
  width: 20%;
}

.col2-5 {
  width: 25%;
}

.col3 {
  width: 30%;
}

.col3-5 {
  width: 35%;
}

.col4 {
  width: 40%;
}

.col4-5 {
  width: 45%;
}

.col5 {
  width: 50%;
}

.col5-5 {
  width: 55%;
}

.col6 {
  width: 60%;
}

.col6-5 {
  width: 65%;
}

.col7 {
  width: 70%;
}

.col7-5 {
  width: 75%;
}

.col8 {
  width: 80%;
}

.col8-5 {
  width: 85%;
}

.col9 {
  width: 90%;
}

.col9-5 {
  width: 95%;
}

.col10 {
  width: 100%;
}

/* POPUP */

.messagebox {
  margin: 20px 15%;
  background-color: var(--accentcolor);
  border-radius: 8px;
}

.messagebox h3 {
  padding: 10px;
  text-align: center;
  color: white;
}

/* BOTTOM */

.bottom {
  position: absolute;
  bottom: 0
}

/* SHOPPINGCART */

.shoppingcart-item img {
  width: 80%;
  padding-left: 10%;
}

.shoppingcart-order {
  float: right;
  margin: 8px;
  width: 20%;
}

.shoppingcart-badge {
  border-radius: 50%;
  background-color: var(--navbarcolor);
  color: var(--accentcolor);
  display: inline-block;
  padding-left: 8px;
  padding-right: 8px;
  text-align: center;
}

/* POINTER */

.pointer {
  cursor: pointer;
}

/* GOOGLE MAPS */

.google-maps {
  width: 100%;
  height: 400px;
  background-color: var(--navbarcolor);
  z-index: -1;
  position: relative;
}