/* Roboto FONT  */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(/assets/fonts/Roboto-Regular.woff2) format('woff2');
}

/* VARIABLES */

:root {
  --accentcolor: #e27d2f;
  --textcolor: #595959;
}

/* BODY */

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

/* NAVBAR */

nav {
  position: fixed;
  top: 0;
  background: whitesmoke;
  width: 100%;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav * {
  float: left;
}

nav .nav-item {
  color: black;
  text-decoration: none;
  font-size: 18px;
  padding: 14px;
  display: inline-block;
}

nav .nav-item.right {
  float: right;
}

nav .nav-item.active, nav .nav-item:hover {
  background: var(--accentcolor);
  color: white;
}

nav .navbar-left {
  width: 150px;
  height: 1px;
}

nav .navbar-right {
  width: 150px;
  height: 1px;
  float: right;
}

nav .nav-logo {
  height: 50px;
}

.navbar-top {
  height: 50px;
}

/* CARDS */

.card-row {
  display: flex;
  flex-flow: wrap
}

.card {
  width: 28%;
  border: 1px solid transparent;
  border-radius: 4px;
  float: left;
  margin: 2.58567%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 16px 50px 0 rgba(0, 0, 0, 0.19);
}

.card-image {
  text-align: center;
}

.card-image > span {
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.card-image img {
  vertical-align: middle;
  max-width: 90%;
  max-height: 170px;
  margin-top: 8px;
}

.card-content {
  padding: 12px
}

.card-content .old-price {
  text-decoration: line-through;
  color: var(--textcolor);
  font-size: 13px;
}

.card-content .current-price {
  font-size: 22px;
  color: var(--accentcolor);
  font-weight: 600;
}

.card-content .kleuren {
  font-size: 15px;
  color: var(--textcolor);
}

/* ROWS & COLUMNS */

.row {
  margin-top: 18px;
  display: flex;
}

.col {
  float: left;
}

.col1 {
  width: 10%;
}

.col2 {
  width: 20%;
}

.col3 {
  width: 30%;
}

.col4 {
  width: 40%;
}

.col5 {
  width: 50%;
}

.col6 {
  width: 60%;
}

.col7 {
  width: 70%;
}

.col8 {
  width: 80%;
}

.col9 {
  width: 90%;
}

.col10 {
  width: 100%;
}